iaspel/src/META-INF/wsdl/localhost_7070/iaspel/sesionServicios.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.aspel.ftc.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.aspel.ftc.com/" name="SesionServiciosService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.aspel.ftc.com/" schemaLocation="http://localhost:7070/iaspel/sesionServicios?xsd=1"/>
</xsd:schema>
</types>
<message name="iniciarSesion">
<part name="parameters" element="tns:iniciarSesion"/>
</message>
<message name="iniciarSesionResponse">
<part name="parameters" element="tns:iniciarSesionResponse"/>
</message>
<message name="cierraSesion">
<part name="parameters" element="tns:cierraSesion"/>
</message>
<message name="cierraSesionResponse">
<part name="parameters" element="tns:cierraSesionResponse"/>
</message>
<message name="datosUsuario">
<part name="parameters" element="tns:datosUsuario"/>
</message>
<message name="datosUsuarioResponse">
<part name="parameters" element="tns:datosUsuarioResponse"/>
</message>
<message name="sesiones">
<part name="parameters" element="tns:sesiones"/>
</message>
<message name="sesionesResponse">
<part name="parameters" element="tns:sesionesResponse"/>
</message>
<portType name="SesionServicios">
<operation name="iniciarSesion">
<input wsam:Action="http://ws.aspel.ftc.com/SesionServicios/iniciarSesionRequest" message="tns:iniciarSesion"/>
<output wsam:Action="http://ws.aspel.ftc.com/SesionServicios/iniciarSesionResponse" message="tns:iniciarSesionResponse"/>
</operation>
<operation name="cierraSesion">
<input wsam:Action="http://ws.aspel.ftc.com/SesionServicios/cierraSesionRequest" message="tns:cierraSesion"/>
<output wsam:Action="http://ws.aspel.ftc.com/SesionServicios/cierraSesionResponse" message="tns:cierraSesionResponse"/>
</operation>
<operation name="datosUsuario">
<input wsam:Action="http://ws.aspel.ftc.com/SesionServicios/datosUsuarioRequest" message="tns:datosUsuario"/>
<output wsam:Action="http://ws.aspel.ftc.com/SesionServicios/datosUsuarioResponse" message="tns:datosUsuarioResponse"/>
</operation>
<operation name="sesiones">
<input wsam:Action="http://ws.aspel.ftc.com/SesionServicios/sesionesRequest" message="tns:sesiones"/>
<output wsam:Action="http://ws.aspel.ftc.com/SesionServicios/sesionesResponse" message="tns:sesionesResponse"/>
</operation>
</portType>
<binding name="SesionServiciosPortBinding" type="tns:SesionServicios">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="iniciarSesion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cierraSesion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="datosUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sesiones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SesionServiciosService">
<port name="SesionServiciosPort" binding="tns:SesionServiciosPortBinding">
<soap:address location="http://localhost:7070/iaspel/sesionServicios"/>
</port>
</service>
</definitions>