iaspel/src/META-INF/wsdl/localhost_7070/iaspel/usuarioServicios.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><xs:schema xmlns:tns="http://ws.aspel.ftc.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.aspel.ftc.com/">

<xs:element name="activaUsuario" type="tns:activaUsuario"/>

<xs:element name="activaUsuarioResponse" type="tns:activaUsuarioResponse"/>

<xs:element name="actualizaUsuario" type="tns:actualizaUsuario"/>

<xs:element name="actualizaUsuarioResponse" type="tns:actualizaUsuarioResponse"/>

<xs:element name="cambiaContrasenia" type="tns:cambiaContrasenia"/>

<xs:element name="cambiaContraseniaResponse" type="tns:cambiaContraseniaResponse"/>

<xs:element name="listado" type="tns:listado"/>

<xs:element name="listadoResponse" type="tns:listadoResponse"/>

<xs:element name="registraUsuario" type="tns:registraUsuario"/>

<xs:element name="registraUsuarioResponse" type="tns:registraUsuarioResponse"/>

<xs:element name="suspendeUsuario" type="tns:suspendeUsuario"/>

<xs:element name="suspendeUsuarioResponse" type="tns:suspendeUsuarioResponse"/>

<xs:element name="usuario" type="tns:usuario"/>

<xs:element name="usuarioDetalle" type="tns:usuarioDetalle"/>

<xs:element name="usuariosActivos" type="tns:usuariosActivos"/>

<xs:element name="usuariosActivosResponse" type="tns:usuariosActivosResponse"/>

<xs:element name="usuariosSuspendidos" type="tns:usuariosSuspendidos"/>

<xs:element name="usuariosSuspendidosResponse" type="tns:usuariosSuspendidosResponse"/>

<xs:complexType name="usuariosActivos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="usuariosActivosResponse">
<xs:sequence>
<xs:element name="return" type="tns:wrapperUsuario" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="wrapperUsuario">
<xs:sequence>
<xs:element name="dsusucon" type="xs:string" minOccurs="0"/>
<xs:element name="dsvalcon" type="xs:string" minOccurs="0"/>
<xs:element name="idusucon" type="xs:int"/>
<xs:element name="instatus" type="xs:string" minOccurs="0"/>
<xs:element name="usuarioDetalle" type="tns:wrapperUsuarioDetalle" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="wrapperUsuarioDetalle">
<xs:sequence>
<xs:element name="dsusuape" type="xs:string" minOccurs="0"/>
<xs:element name="dsusuasp" type="xs:string" minOccurs="0"/>
<xs:element name="dsusunom" type="xs:string" minOccurs="0"/>
<xs:element name="idusudet" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registraUsuario">
<xs:sequence>
<xs:element name="arg0" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuario">
<xs:sequence>
<xs:element name="dsusucon" type="xs:string" minOccurs="0"/>
<xs:element name="dsvalcon" type="xs:string" minOccurs="0"/>
<xs:element name="idusucon" type="xs:int" minOccurs="0"/>
<xs:element name="instatus" type="xs:string" minOccurs="0"/>
<xs:element name="tmstmp" type="xs:dateTime" minOccurs="0"/>
<xs:element ref="tns:usuarioDetalle" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuarioDetalle">
<xs:sequence>
<xs:element name="dsusuape" type="xs:string" minOccurs="0"/>
<xs:element name="dsusuasp" type="xs:string" minOccurs="0"/>
<xs:element name="dsusunom" type="xs:string" minOccurs="0"/>
<xs:element name="idusuari" type="tns:usuario" minOccurs="0"/>
<xs:element name="idusudet" type="xs:int" minOccurs="0"/>
<xs:element name="tmstmp" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registraUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuariosSuspendidos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="usuariosSuspendidosResponse">
<xs:sequence>
<xs:element name="return" type="tns:wrapperUsuario" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="activaUsuario">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="activaUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listado">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listadoResponse">
<xs:sequence>
<xs:element name="return" type="tns:wrapperUsuario" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="suspendeUsuario">
<xs:sequence>
<xs:element name="arg0" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="suspendeUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cambiaContrasenia">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cambiaContraseniaResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizaUsuario">
<xs:sequence>
<xs:element name="arg0" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizaUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>