iaspel_ws/generated/xml/SesionServiciosService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. -->
<definitions targetNamespace="http://ws.aspel.ftc.com/" name="SesionServiciosService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://ws.aspel.ftc.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.aspel.ftc.com/" schemaLocation="SesionServiciosService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="sesiones">
    <part name="parameters" element="tns:sesiones"/>
  </message>
  <message name="sesionesResponse">
    <part name="parameters" element="tns:sesionesResponse"/>
  </message>
  <message name="iniciarSesion">
    <part name="parameters" element="tns:iniciarSesion"/>
  </message>
  <message name="iniciarSesionResponse">
    <part name="parameters" element="tns:iniciarSesionResponse"/>
  </message>
  <message name="datosUsuario">
    <part name="parameters" element="tns:datosUsuario"/>
  </message>
  <message name="datosUsuarioResponse">
    <part name="parameters" element="tns:datosUsuarioResponse"/>
  </message>
  <message name="cierraSesion">
    <part name="parameters" element="tns:cierraSesion"/>
  </message>
  <message name="cierraSesionResponse">
    <part name="parameters" element="tns:cierraSesionResponse"/>
  </message>
  <portType name="SesionServicios">
    <operation name="sesiones">
      <input wsam:Action="http://ws.aspel.ftc.com/SesionServicios/sesionesRequest" message="tns:sesiones"/>
      <output wsam:Action="http://ws.aspel.ftc.com/SesionServicios/sesionesResponse" message="tns:sesionesResponse"/>
    </operation>
    <operation name="iniciarSesion">
      <input wsam:Action="http://ws.aspel.ftc.com/SesionServicios/iniciarSesionRequest" message="tns:iniciarSesion"/>
      <output wsam:Action="http://ws.aspel.ftc.com/SesionServicios/iniciarSesionResponse" message="tns:iniciarSesionResponse"/>
    </operation>
    <operation name="datosUsuario">
      <input wsam:Action="http://ws.aspel.ftc.com/SesionServicios/datosUsuarioRequest" message="tns:datosUsuario"/>
      <output wsam:Action="http://ws.aspel.ftc.com/SesionServicios/datosUsuarioResponse" message="tns:datosUsuarioResponse"/>
    </operation>
    <operation name="cierraSesion">
      <input wsam:Action="http://ws.aspel.ftc.com/SesionServicios/cierraSesionRequest" message="tns:cierraSesion"/>
      <output wsam:Action="http://ws.aspel.ftc.com/SesionServicios/cierraSesionResponse" message="tns:cierraSesionResponse"/>
    </operation>
  </portType>
  <binding name="SesionServiciosPortBinding" type="tns:SesionServicios">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="sesiones">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="iniciarSesion">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="datosUsuario">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="cierraSesion">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="SesionServiciosService">
    <port name="SesionServiciosPort" binding="tns:SesionServiciosPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

