iaspel_ws/generated/xml/UsuarioServiciosService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. -->
<definitions targetNamespace="http://ws.aspel.ftc.com/" name="UsuarioServiciosService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://ws.aspel.ftc.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.aspel.ftc.com/" schemaLocation="UsuarioServiciosService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="activaUsuario">
    <part name="parameters" element="tns:activaUsuario"/>
  </message>
  <message name="activaUsuarioResponse">
    <part name="parameters" element="tns:activaUsuarioResponse"/>
  </message>
  <message name="listado">
    <part name="parameters" element="tns:listado"/>
  </message>
  <message name="listadoResponse">
    <part name="parameters" element="tns:listadoResponse"/>
  </message>
  <message name="actualizaUsuario">
    <part name="parameters" element="tns:actualizaUsuario"/>
  </message>
  <message name="actualizaUsuarioResponse">
    <part name="parameters" element="tns:actualizaUsuarioResponse"/>
  </message>
  <message name="suspendeUsuario">
    <part name="parameters" element="tns:suspendeUsuario"/>
  </message>
  <message name="suspendeUsuarioResponse">
    <part name="parameters" element="tns:suspendeUsuarioResponse"/>
  </message>
  <message name="usuariosActivos">
    <part name="parameters" element="tns:usuariosActivos"/>
  </message>
  <message name="usuariosActivosResponse">
    <part name="parameters" element="tns:usuariosActivosResponse"/>
  </message>
  <message name="registraUsuario">
    <part name="parameters" element="tns:registraUsuario"/>
  </message>
  <message name="registraUsuarioResponse">
    <part name="parameters" element="tns:registraUsuarioResponse"/>
  </message>
  <message name="cambiaContrasenia">
    <part name="parameters" element="tns:cambiaContrasenia"/>
  </message>
  <message name="cambiaContraseniaResponse">
    <part name="parameters" element="tns:cambiaContraseniaResponse"/>
  </message>
  <message name="usuariosSuspendidos">
    <part name="parameters" element="tns:usuariosSuspendidos"/>
  </message>
  <message name="usuariosSuspendidosResponse">
    <part name="parameters" element="tns:usuariosSuspendidosResponse"/>
  </message>
  <portType name="UsuarioServicios">
    <operation name="activaUsuario">
      <input wsam:Action="http://ws.aspel.ftc.com/UsuarioServicios/activaUsuarioRequest" message="tns:activaUsuario"/>
      <output wsam:Action="http://ws.aspel.ftc.com/UsuarioServicios/activaUsuarioResponse" message="tns:activaUsuarioResponse"/>
    </operation>
    <operation name="listado">
      <input wsam:Action="http://ws.aspel.ftc.com/UsuarioServicios/listadoRequest" message="tns:listado"/>
      <output wsam:Action="http://ws.aspel.ftc.com/UsuarioServicios/listadoResponse" message="tns:listadoResponse"/>
    </operation>
    <operation name="actualizaUsuario">
      <input wsam:Action="http://ws.aspel.ftc.com/UsuarioServicios/actualizaUsuarioRequest" message="tns:actualizaUsuario"/>
      <output wsam:Action="http://ws.aspel.ftc.com/UsuarioServicios/actualizaUsuarioResponse" message="tns:actualizaUsuarioResponse"/>
    </operation>
    <operation name="suspendeUsuario">
      <input wsam:Action="http://ws.aspel.ftc.com/UsuarioServicios/suspendeUsuarioRequest" message="tns:suspendeUsuario"/>
      <output wsam:Action="http://ws.aspel.ftc.com/UsuarioServicios/suspendeUsuarioResponse" message="tns:suspendeUsuarioResponse"/>
    </operation>
    <operation name="usuariosActivos">
      <input wsam:Action="http://ws.aspel.ftc.com/UsuarioServicios/usuariosActivosRequest" message="tns:usuariosActivos"/>
      <output wsam:Action="http://ws.aspel.ftc.com/UsuarioServicios/usuariosActivosResponse" message="tns:usuariosActivosResponse"/>
    </operation>
    <operation name="registraUsuario">
      <input wsam:Action="http://ws.aspel.ftc.com/UsuarioServicios/registraUsuarioRequest" message="tns:registraUsuario"/>
      <output wsam:Action="http://ws.aspel.ftc.com/UsuarioServicios/registraUsuarioResponse" message="tns:registraUsuarioResponse"/>
    </operation>
    <operation name="cambiaContrasenia">
      <input wsam:Action="http://ws.aspel.ftc.com/UsuarioServicios/cambiaContraseniaRequest" message="tns:cambiaContrasenia"/>
      <output wsam:Action="http://ws.aspel.ftc.com/UsuarioServicios/cambiaContraseniaResponse" message="tns:cambiaContraseniaResponse"/>
    </operation>
    <operation name="usuariosSuspendidos">
      <input wsam:Action="http://ws.aspel.ftc.com/UsuarioServicios/usuariosSuspendidosRequest" message="tns:usuariosSuspendidos"/>
      <output wsam:Action="http://ws.aspel.ftc.com/UsuarioServicios/usuariosSuspendidosResponse" message="tns:usuariosSuspendidosResponse"/>
    </operation>
  </portType>
  <binding name="UsuarioServiciosPortBinding" type="tns:UsuarioServicios">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="activaUsuario">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="listado">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="actualizaUsuario">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="suspendeUsuario">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="usuariosActivos">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="registraUsuario">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="cambiaContrasenia">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="usuariosSuspendidos">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="UsuarioServiciosService">
    <port name="UsuarioServiciosPort" binding="tns:UsuarioServiciosPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

